body {
    position: relative;       
    box-sizing: border-box;        
    height: 100vh;
    overflow: hidden;
    background-color: #f6f7f8;
    margin:0px; 
    font-family: "Inter", sans-serif;
  }
.container-main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgba(246, 247, 248, 1);
    height: calc(100% - 96px);
    width: calc(100% - 232px);
    padding-top: 96px;
    padding-left: 232px;
}
.title{
    font-size: 61px;
    font-weight: 700;   
    padding-top:96px;
    padding-bottom: 32px;
}
.left-right-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.left-side{
    width: 49%;
    display: flex;
    flex-direction: column;
    padding-top:48px;
    padding-left: 96px;
    padding-right: 48px;
}
.divider{
    width: 1px;
    height:524px;
    background-color: #D1D1D1;
    margin-top: 200px;
}
.right-side{
    width: 49%;
    display: flex;
    flex-direction: column;
    padding-top:48px;
    padding-left: 48px;
    padding-right: 135px;
    margin-top: 200px;    
}
label{
    font-size: 20px;
    margin-bottom: 8px; 
}
.required {
    color:#FF8190;
}
input {
    font-size: 20px;
    color: #000000;
    border: 1px solid #D1D1D1;
    padding: 10px;
    height: 48px;
    border-radius: 10px;
    margin-bottom: 32px;
}
textarea{
    color: #000000;
    border-radius: 10px;
    height: 120px;
    min-height: 88px;
    font-size: 20px;
    padding: 10px; 
    font-family: "Inter", sans-serif;
    margin-bottom: 32px;
}
select{
    height: 48px;
    border-radius: 10px;
    padding: 10px; 
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

/************************************************************************* avatar-placeholder */
.avatar-placeholder {
    background-color: orange;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    margin-left: 24px;
  }
  
  .avatar-overlay {
    font-size: 12px;
    font-weight: 400;
    color: white;
  }
  
  .avatar-overlay-display {
    font-size: 47px;
    font-weight: 500;
    color: white;
  }
/************************************************************************* priority-buttons */
.priority-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 32px;
    
}
.priority-btn {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 400;
    height: 56px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
    
}
.priority-btn:hover {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.change-svg-color {
    filter: brightness(0) invert(1); 
 }

.priority-btn img{
   padding-left: 8px;
}
.urgent-pri-active {
    background-color: #FF3D00;
    color: white;
    font-weight: 700;
}
.medium-prio-active {
    background-color: #FFA800;
    color: white;
    font-weight: 700;
}
.low-prio-active {
    background-color: #7AE229; 
    color: white;
    font-weight: 700;
}

.input-container {
    position: relative;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 12px;
}
input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 21px;
    border: 1px solid #ccc;
    background-position: calc(100% - 12px) center; 
    background-repeat: no-repeat;
    background-size: 20px; 
    border-radius: 8px;
    color: #000000;
}
.icon-name {
    background-image: url("../assets/icons/addicon.svg");
}
.dropdownCategory{
    margin-bottom: 32px;
}
.Subtasks{
    font-size: 20px;
    color: #D1D1D1;
}
.footer-add-task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:137px;
    padding-right: 137px;
    margin-bottom: 80px;
}
.clear-btn{
    width: 110px;
    height: 56px;
    background-color: #ffffff;
    color: #2A3647;
    font-size: 21px;
    font-weight: 700;
    border-radius: 16px;
    cursor: pointer;
}
.clear-btn:hover{
    cursor: pointer;
}
.create-task-btn{
    width: 183px;
    height: 56px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    border-radius: 16px;
    cursor: pointer;
}
.create-task-btn{
    cursor: pointer;
}
.footer-add-task-left{
    display: flex;
    align-items: center;
}

/******************************************************************* Responsive */
@media (max-width: 1660px) {
    .left-side {
        width: 40%;
    }
    .right-side {
        width: 40%;
    }
}
@media (max-width: 1500px) {
    .left-side {
        width: 35%;
    }
    .right-side {
        width: 35%;
    }
}
@media (max-width: 1373px) {
    .left-right-container {       
        flex-direction: column;
        align-items: center;
    }
    .left-side {
        width: 80%;
    }
    .right-side {
        width: 80%;
    }
    .container-main {
        overflow-y: auto;
    }
    .divider {
        display: none;
    }
    .right-side {        
        padding-right: 0px;
    }
    .right-side {
        margin-top: 10px;
    }
    .title {
        padding-top: 0px;
    }
    .footer-add-task {
        padding-left: 107px;
        padding-right: 65px;
        margin-top: 20px;
        width: calc(100% - 182px);
    }
}
@media (max-width: 1030px) {
    .container-main {        
        padding-left: 70px;
        width: calc(100% - 70px);
    }     
}
 
@media (max-width: 855px) {
    .container-main {        
        padding-left: 10px;
        width: calc(100% - 10px);
    } 
    .left-side {        
        padding-left: 0px;
        padding-right: 0px;
    }
    .right-side {        
        padding-left: 0px;        
        padding-right: 0px;
    }     
}
@media (max-width: 900px) {
    .container-main {
        padding-left: 0px;
        width: calc(100%);
    }
    .left-side {
        padding-left: 10px;
        padding-right: 10px;
    }
    .right-side {
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer-add-task {
        margin-bottom: 120px;      
        padding-left: 90px;
        padding-right: 45px;
    }
}
@media (max-width: 700px) {
    .clear-btn {
       display: none;
    }
    .footer-add-task {
        margin-bottom: 120px;      
        padding-left: 70px;
        padding-right: 70px;
        width: calc(100% - 140px);
    }
    .footer-add-task-left span{
        font-weight: 600;
    }
}
@media (max-width:525px) {
    .footer-add-task {
        padding-left: 50px;
        padding-right: 50px;
        width: calc(100% - 100px);
    }
    }
    @media (max-width:490px) {
    .title {
        font-size: 41px;
    }
    .footer-add-task-left span{
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .footer-add-task {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 80px;
        width: calc(100%);
    }
    .footer-add-task-left {
        flex-direction: row;
        justify-content: center;
    }
    .footer-add-task-right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 10px;
    
    }
}
     