body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #f6f7f8;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
}

.logo-sidebar {
   
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
    position: sticky;
    top: 0;
    left: 0;
}

.content {
    width: 90%;
    display: flex;
    justify-content: flex-end; /* Nach rechts ausrichten */
    flex-direction: column;
    align-items: center; /* Inhalt zentrieren */
    justify-content: center; /* Inhalt zentrieren */
    height: 100vh;
  
}

.header-login-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    padding-top: 20px;
    width: 90%;
    height: 67px;
    position: fixed;
    top: 0;
    gap: 35px;
    margin-bottom: 149px;
  
    margin-left: 10%;
    
}

.signup-btn {
    width: 91px;
    height: 49px;
    background-color: #2A3647;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 16px;
    cursor: pointer;
    border: none;
}

.signup-btn:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.footer-links{
    gap: 30px;
}
.footer-links a{
   text-decoration: none;
   color: #A8A8A8;
}
/* ************************************************************login section */
.login-section {
    width: 50%;
    max-width: 692px;
    height: 493px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    margin: 0 auto; 
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-section{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:61px ;
    font-weight: 700;
    height: 89px;
    flex-direction: column;
    width: 100%;
}
.divider{
    display: flex;
    width: 30%;
    background-color: #29ABE2;
    height: 3px;
    border-radius: 50px;
    margin-top:10px ;
    text-align: center;
}
.input-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height:196px; */
    gap: 10px;
    margin-top: 40px;
}
.input-section input{
    border-radius: 8px;
    height:48px ;
    background-position: calc(100% - 12px) center;
    background-repeat: no-repeat;
    background-size: 20px;
    
}
.icon-email {
    background-image: url(../assets/icons/mailicon.svg);
}
.icon-name {
    background-image: url(../assets/icons/person.svg);
   
}
.icon-password {
    background-image: url(../assets/icons/lock.svg);
}
.remember-password-section{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;
}
.button-section{
    display: flex;
    margin-top:90px ;
    gap:35px ;
}
.Login-btn {
    width:110px;
    height: 49px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    border-radius: 16px;
    cursor: pointer;
    border: none;
}
.Guest-btn {
    width: 177px;
    height: 49px;
    background-color: #ffffff;
    color: #2A3647;
    font-size: 21px;
    font-weight: 700;
    border-radius: 16px;
    cursor: pointer;
    border: none;
}
.toggle-display {
    display: none; 
}
.input-section input:focus {   
    border-color:#29ABE2;
    outline: none; /* Remove default outline */

}
input[type="text"] {
    border-color: #ccc;
    outline: none; 
}

input[type="text"].invalid {
    border-color: #FF0000;
}
.error-validation-email{
    color:#FF8190;
    margin-bottom: 3px;
}
.error-validation-password{
    color:#FF8190;
    margin-bottom: 3px;
}

/* **************************************************sign up section */
.signup-section {
    width: 50%;
    max-width: 692px;
    /* height: 493px; */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    margin: 0 auto; 
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-section-signup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size:61px ;
    font-weight: 700;
    height: 89px;
    width: 100%;
}
.title-section-left{
    display: flex;
    justify-content: flex-start;
    width: 10%;

}
.title-section-left img{
   cursor: pointer;
}

.title-section-right{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    align-items: center;
    
}
.input-section-signup{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height:296px; */
    gap: 32px;
    margin-top: 40px;
}
.input-section-signup input{
    border-radius: 8px;
    height:48px ;
    background-position: calc(100% - 12px) center;
    background-repeat: no-repeat;
    background-size: 20px;
}

.check-policy-section{
    display: flex;
    justify-content:center;
    width: 100%;
    margin-top: 50px;
}
.button-section-signup{
    display: flex;
    margin-top:30px ;
   
}
.check-policy-section a{
    text-decoration: none;
    color: #29ABE2;

}

.footer-links {
    height: 5vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration: none;
    color: white;
}
.error-message {
    color: red;
    font-size: 0.9em;
    display: none;
    margin-left: 10px;
}
input[type="checkbox"]:invalid + span {
    color: red; /* Highlight the label if the checkbox is not checked */
}

@media (max-width: 768px) {
    .logo-sidebar {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .content {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .header-login-content {
        justify-content: center;
        padding-right: 0;
        height: auto;
    }

    .login-section {
        width: 90%;
        max-width: none;
    }
}