.taskDetails {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.taskDetailsHeader {
    display: flex;
    justify-content: space-between;
}

.closeWindowImage:hover {
    cursor: pointer;
}

.taskDetailsContain {
    z-index: 1100;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
}

.taskDetails {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #FFFFFF;
    padding: 40px 30px;
    border-radius: 30px;
    gap: 20px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    max-height: 90%;
}

.taskTitleDetails {
    font-size: 44px;
    font-weight: 700;
    line-height: 50px;
    word-wrap: break-word;
    max-height: 130px;
}

.taskDescriptionDetails {
    color: black;
    font-size: 20px;
    line-height: 19.2px;
    margin-top: 16px;
    max-height: 120px;
    word-wrap: break-word;
}

.deleteDetailsContain:hover,
.editDetailsContain:hover {
    cursor: pointer;
    filter: invert(70%) sepia(74%) saturate(3560%) hue-rotate(165deg) brightness(95%) contrast(85%);
    font-weight: 700;
}

.editOptionsDetailsContain,
.editDetailsContain,
.deleteDetailsContain {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.seperator {
    border-left: 1px solid #D1D1D1;
    height: 24px;
    margin-left: 5px;
    margin-right: 6px;
}
