body {    
    display: flex;
    height: 100vh;
    overflow: hidden; /* Prevents the entire page from scrolling */
    font-family: "Inter", sans-serif;
}
.nav-bar-text {
    font-size: 20px;
    padding-left: 116px;
    margin-top: 36px;
    margin-bottom: 36px;
}
.nav-bar-logo{
    display: none;
    margin-left: 40pX;
}
.sidebar {
    width: 232px;
    background-color: #2A3647;
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto; /* Keeps the sidebar scrollable */    
}
.sidebar a {
    color: white;
    text-decoration: none;
}
.content {
    margin-left: 250px;
    flex-grow: 1;
    background-color: #f8f9fa;
    overflow-y: hidden; 
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    margin-left: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 96px;
}
.nav-info-box{
    width:104px;
    height: 56px;
    display: flex;
    flex-direction: row;    
    align-items: center;
    margin-right: 40px;    
}
.contact-list-main-section{    
    max-height:100vh;
     overflow: auto; /*****************************************************change */
}
.btn-add-new-contact-section{
    position: fixed;
    align-content: center;     
    width:400px;
    height:100px;
}
.contact-list-persons-container{
    margin-top: 150px;    
    width:400px;
    height: 80%;    
    overflow-y: auto; 
}
.btn-add-new-contact{    
    background-color: #2A3647;
    color: white;
    border-radius: 8px;
    font-weight: 700;
    font-size: 21px;
    width: 352px;
    height: 56px;
}
.btn-add-new-contact:hover{
    background-color: #29ABE2;
    box-shadow: 0 3px 3px -3px rgba(0,0,0,0.20), 0 10px 20px -5px rgba(0,0,0,0.30);
    color: white;
    cursor: pointer;
}

.alphabet-contact-list {
    display: flex;
    align-items: center;
    width: 352px;
    height: 58px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 400;
    padding-left: 36px;
}

.line-contact-list {
    width: 352px;
    height: 1px;
    background-color: #D1D1D1;
}

.contact-details {
    display: flex;
}

.contact-details-section {
    width: 352px;
    height: 78px;
    margin-left: 2px;
    margin-top: 10px;
       
}

.contact-details-section:hover {
    cursor: pointer;   
    background-color: #d8d7d7;
    border-radius: 10px;
}

.contact-details-section.active {
    background-color: #2A3647;
    border-radius: 8px;
    color: white;
}
.contact-details-profile{
    display: flex;
    align-items: center;
    justify-content: center;    
    border-radius: 100px;
    width: 42px;
    height: 42px;
    margin-left: 24px;
    margin-right: 24px;
    color: white;
    font-size: 12px;
}

.contact-details-name {
    font-size: 20px;
    font-weight: 400px;    
}

.contact-details-email {
    color: #007CEE;
}
.capa-2 {
    width: 100px;
    height: 121px;
    margin-top: 64px;
    margin-bottom: 114px;
}
.nav li{
    margin-bottom: 15px;
}

.nav-link {
    cursor: pointer;
    padding: 0;
    padding-left:56px ;
    margin-top: 5px;

}
.nav-link img{   
    padding-right:8px ;
    margin-bottom: 10px;

}
.nav-link:hover{
    background-color: #2A3D59;
}

h3 {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    color: #A8A8A8;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    padding-left: 52px;
    padding-right: 59px;
    margin-top: 150%;
}

.nav-footer a{
    font-size: 16px;
    color: #A8A8A8;
}

.nav-footer a:hover{
    font-size: 18px;
    color:#29ABE2;
    background-color: #2A3647;
}
.container {    
    width: 100%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);    
}

h1 {
    font-size: 2em;
    margin: 0;
}

h2 {
    color: #666;
    font-weight: normal;
    margin: 10px 0 20px 0;
}
.view-contacts{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 96px;
    margin-left:55px;
}
.contacts-title-section{   
    justify-content: center;
    align-items: center;
    padding-right:30px ;
   
}
.contacts-title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
   
   .arrow-left-contacts{
    margin-top: 20px;
    margin-left: 90px;
    display: none;
   }
   .arrow-left-contacts img{
    width:42px;
    height: 42px;
   
   }
   .arrow-left-contacts img:hover{
    cursor: pointer;
   
   }
.contacts-title{
    font-size:61px;
    font-weight:700;
    padding-right:30px;   
}
.contacts-title-line{
    width:3px;
    height: 59px;
    background-color: #29ABE2;
    border-radius:3px;
}
.contacts-title-line-Responsive{
    width:80px;
    height: 3px;
    background-color: #29ABE2;
    border-radius:3px;
    display: none;
    margin-top: 16px;
   text-align: start;
}
.contacts-sub-title{
    font-size:27px;
    font-weight:400;
    padding-left: 30px;
}
.name-actions-section-contact span{
    font-size:47px ;
    font-weight: 500;

}
.name-actions-section-contact {
    margin-left: 0px;
}

.contact-card {
    margin: 20px;
    display: flex;
    align-items: center;
}

.avatar {
    background-color:#FF7A00;
    color: white;
    font-size: 2.94em;
    font-weight: bold;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:54px;
}

.question-icon {
    margin-right: 16px;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative; 
   
}

.question-icon img {
    width: 100%; 
    height: 100%;
    transition: transform 0.2s ease; 
}

.question-icon:hover img {
    transform: scale(1.2); 
}
.avatar-header {
    width: 56px;
    height: 56px;
    background-color:#ffffff;
    border: 3px solid#090909;
    color: #29ABE2;
    font-size: 24px;
    font-weight: bold;   
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.avatar-header :hover{   
    background-color:#E1E6EC;
    border-radius: 50%;
    border: 5px solid#E1E6EC;
}
.avatar-header a{
    text-decoration: none;   
}
.avatar-header a:hover{
    text-decoration: none;   
}

.contact-details {
    flex: 1;
}

.contact-details h3 {
    margin: 0;
    font-size: 1.5em;
}

.contact-actions {
    margin: 10px 0;
    display: flex;
}

.contact-actions a {
    display: inline-flex; 
    align-items: center;  
    background: none;
    border: none;    
    cursor: pointer;
    margin-right: 10px;
    color: black;
    text-decoration: none;
    position: relative; 
    overflow: hidden;  
}

.contact-actions a img {
    width: 20px; 
    height: 20px;
    transition: transform 0.2s ease;
}

.contact-actions a:hover img {
    transform: scale(1.0);
    filter: brightness(0) saturate(100%) invert(55%) sepia(96%) saturate(3326%) hue-rotate(169deg) brightness(96%) contrast(98%); /* Ändert die Filter auf Hover */
}

.contact-actions a:hover {    
    color: #29ABE2;
}
.contact-actions-edite{

}
.contact-actions-delete{

}
.actions button:hover {
    text-decoration: underline;
}
.info{
    height:74px;
    width: 207px;   
    font-size: 20px;
    display: flex;
    align-items: center;
    
}
.contact-info p {
    margin: 5px 0;
}

.contact-info a {
    color: #007CEE;
    text-decoration: none;
}

.contact-info a:hover {
   cursor:default;    
}
.menu-mobile-display-container {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between; 
    background-color: #2A3647;
    width: 100%;
    height: 80px;      
    position: fixed;
    bottom: 0px;    
    z-index: 1080;
    color: #f8f9fa;
    padding-right: 5%;
    padding-left: 5%;
    display: none;
}

.menu-mobile-display-item {
   
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    
    flex: 1;
    text-align: center;
    margin-top: 16px;
}

.menu-mobile-display-item a {
   
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #f8f9fa;
}

.menu-mobile-display-item a img {
   
    margin-bottom: 4px; /* Optional: to add some space between the image and text */
    width: 30px;
    height: 30px;
}

.menu-mobile-display-item a span {
    display: block;
    margin-top: 2px; /* Optional: to add some space between the image and text */
}

.contact-details-section.new-contact {
    background-color:  #2A3647; 
    color: white;
    border-radius: 8px;
    animation: highlightAnimation 2s ease-in-out;
}

@keyframes highlightAnimation {
0% { background-color: initial; }
100% { background-color: #2A3647; }
}
.m-6p-5{
    margin-top: 30px;
   padding: 30px;
}
.viewContacts{
    Display: ruby-text;
}
.viewright{
    margin-left: 50px;
}
.blue{
    color: rgb(60, 108, 229);
    margin-left: 3px;
}
.error
{
    border-color: red;
}

@media (max-width: 1326px) {
    .view-contacts {        
        margin-left: 40px;
    }
    .contacts-title {
        font-size: 41px;
        padding-right: 20px;        
    }
    .name-actions-section-contact span {
        font-size: 27px;        
    }
    .contacts-sub-title {
        font-size: 19px;
        font-weight: 400;
        padding-left: 20px;
    }
    .avatar {  
        font-size: 30px;   
        width: 80px;
        height: 80px;   
    }
}

@media (max-width: 1148px) {
    
    .btn-add-new-contact-section {        
        width: 300px;
        height: 100px;
    }
    .contact-list-persons-container {        
        width: 300px;        
    }
    .btn-add-new-contact {    
        font-weight: 500;
        font-size: 18px;
        width: 252px;        
    }
    .alphabet-contact-list {        
        width: 252px;   
        font-weight: 400;
        padding-left: 0px;
    }
    .contact-details-name {
        font-size: 20px;
        font-weight: 400px;
        margin-right: 0px;
    }
    .contact-details-section {
        width: 252px;        
        margin-left: 0px;    
    }
    .line-contact-list {
        width: 302px;        
    }
    .contact-list-persons-container{
        overflow-x: hidden;
    }
}
@media (max-width: 1052px) {    
    .btn-add-new-contact-section {        
        width: 300px;
        height: 100px;
    }
    .contact-list-persons-container {
        margin-top: 100px;        
    }
    .contact-list-persons-container {
        width:280px;
    }
    .line-contact-list {
        width: 250px;       
    }
    .nav-bar-text {
        font-size: 18px;
        padding-left: 15px;       
    }   
}
@media (max-width: 1027px) {
    .contacts-title-section {
        flex-direction: column;           
    }
    .contacts-title-line {
        display: none;
    }
    /* .contacts-sub-title {
        display: none;           
    } */

    .contacts-title-line-Responsive{
        display: block; 
        width:100px;                
    }
     
    .contacts-sub-title{
        display: block;
        font-size: 18px;
        padding-left:0px;
    }
    .contacts-title {
        display: flex;
        align-content: center;
        margin-left: 30px;          
    }
    .avatar-contact-details-section{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;            
    }
    .name-actions-section-contact{
        margin-top:30px;
    }
    .contact-actions {
        justify-content: space-between;
    }
    .avatar {
        justify-content: center;
        margin-left: 50px;
    }
}
@media (max-width: 897px) {
    .sidebar {
        width: 140px;        
    }
    .nav-link span{
        display: none;
    }
    .capa-2 {
        width:75px;
        height: 90px;
        margin-bottom: 200px;
    }
    .nav-link {        
        text-align: center;        
        padding-left: 0px;        
    }
    .nav-footer {
        text-align: left;
        padding-left: 10px;
        padding-right: 0px;
        margin-top: 180%;
    }
    .nav-footer a {
        font-size: 16px;
        color: #A8A8A8;
    }
    .nav-footer a:hover{
        font-size: 16px;        
    }    
    .nav-link:hover{
        background-color: transparent;        
        padding-left: 3px;
    }    
    .content {
        margin-left: 130px;        
    }
    .nav-bar-text {
        font-size: 16px;
        padding-left: 5px;
    }
    .navbar {        
        margin-left: 140px;        
    }
}
@media (max-width: 780px) {
    .sidebar {
        display: none;
    }
    .contact-list-main-section{
        padding-left: 0px;      
    }
    .navbar {        
        margin-left: 0px;        
    }
    .contact-list-main-section{
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .container-fluid{
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    .content {
        margin-left: 10px;        
    }
    .contact-list-persons-container {
        width: 300px;
    }
    .menu-mobile-display-container{
        display: flex;
    }    
    .btn-add-new-contact {        
        width: 302px;
    }
    .nav-bar-text {
        display: none;
    }
    .nav-bar-logo{
        display: block;
    }
    .contact-details-email{       
        font-size: 15px;
    }
}
@media (max-width: 715px) {
    .contact-list-persons-container {
        width: 280px;
    }
   
    .content {
        margin-left: 2px;
        margin-left: 2px;
    }
    }
    
@media (max-width: 655px) {
    .view-contacts{
        display: none;
    }
    .btn-add-new-contact {        
        display: none;
    }
    .contact-list-persons-container{
        display: block;
        margin-top: 10px;
        width: 700px;
        align-items: center;
        margin-left: 50px;
    }  
    .btn-add-new-contact-section{
        display: block;        
    }
    .contacts-title{
        font-size:57px;        
        margin-left: 0px;
    }      
    .contact-details{
        width: 700px;
    }
    .contacts-title-line{
        display: none;
        margin-left: 0px;
    }     
       .contacts-title-line-Responsive{
        display: block;             
    }
     .line-contact-list{
        width:400px;
    }    
    .contacts-sub-title{
        display: block;
        font-size: 20px;
        padding-left: 0px;
    }
    .contacts-title-section{
        align-items: flex-start;
        margin-left: 23px;
    }
    .avatar-contact-details-section{
        display: flex;
        flex-direction: row;
    }
    .contact-actions{
        display: none;
    }
    .name-actions-section-contact{
        margin-top: 0px;
        font-size: 40px;
    }
    .avatar {        
    margin-left: 0px;
    }
    .arrow-left-contacts{       
        display: block;
    }     
    .alphabet-contact-list{
        width: 400px;
    } 

    .mobile-contact-option {
        /* cursor: pointer;
        display: block;
        position: absolute;
        right: 8px;
        bottom: 88px;
        z-index: 99; */
        position: absolute;
        background-color: rgba(42, 54, 71, 1);
        display: flex;        
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        width: 65px;
        height: 65px;
        z-index: 3;
        border: 1px;
        bottom: 94px;
        right: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        z-index: 99;
    }
    .mobile-contact-option:hover{
        cursor: pointer;
        background-color: #29ABE2;
    }
    .mobile-contact-option-popup{
        position: absolute;
        bottom:90px;
        right: 0px;
        padding: 20px;
        border-bottom-left-radius: 10px;
        box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.2);
        z-index: 100;
        transition: transform 0.3s ease;
        transform: translateX(100%);
    } 
    
    .mobile-contact-option-popup.aktiv {
        transform: translateX(0);
    }

    .mobile-contact-option-edit{
        padding-bottom: 10px;
        
       
    }   
    .mobile-contact-option-edit a{
        color: #090909;
        text-decoration: none;
       
    }
    .mobile-contact-option-delete a{
        color: #090909;
        text-decoration: none;
       
    }
    .mobile-contact-option-edit img{
        padding-right: 10px;
       
    }
    .mobile-contact-option-delete img{
        padding-right: 10px;
       
    }

    .overlay-option {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent; /* Transparent black */
        z-index: 999; /* Slightly less than the popup */
        transition: opacity 0.3s ease;
    }
}

@media (max-width: 536px) {        
    .alphabet-contact-list{
        width:300px;
    }       
    .line-contact-list {
        width: 300px;
    }
    .contacts-title {
        font-size: 35px;
        margin-left: 0px;
    } 
    .arrow-left-contacts {
        margin-top: 10px;        
    }
    .row {        
        margin-left: 0px;
    }
}
@media (max-width: 451px) {
    .contacts-title {
        font-size: 35px;
        margin-left: 0px;
    } 
   
   
}
@media (max-width: 436px) {
    .contact-list-persons-container {               
        margin-left: 0px;               
        width: 600px;                   
    }
    .btn-add-new-contact-section{
        margin-left: 0px;
    }
    .line-contact-list {
        width: 250px;
    }        
    .alphabet-contact-list{
        width:250px;
    }
    .btn-add-new-contact-section {
        width: 100px;               
    }  
          
}
@media (max-width: 423px) {
    .contacts-title {
        font-size: 30px;
       
    }   
    .contacts-sub-title {       
        font-size: 16px;        
    }      
    }
    @media (max-width: 404px) {
        .contacts-title {
            font-size: 24px;           
        }  
        .arrow-left-contacts {
           
            margin-left: 60px;
          
        }
        .view-contacts {
            overflow-x: hidden;
    }
}
    @media (max-width: 404px) {
        .view-contacts {
            margin-left: 0px;
            margin-right: 0px;
        }         
        }  
   
@media (max-width: 337px) {
    .line-contact-list{
        width:200px;
    }
    .contact-details-profile {                
        margin-left: 0px;
        margin-right: 10px;
    }
    .contact-details-name {
        font-size: 16px;                
    }
    .contact-details-email{
        width: 170px;
        font-size: 15px;
    }
    .contact-details{
        width: 20px;
    }
    .alphabet-contact-list{
        width: 100px;
    }
    .contact-details-section{
        width: 100px;
    }
    
}
           
         
