body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    font-family: "Inter", sans-serif;
}
.sidebar {
    width: 250px;
    background-color: #343a40;
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}
.sidebar a {
    color: white;
    text-decoration: none;
}
.sidebar a:hover {
    background-color: #495057;
}
.content {
    margin-left: 250px;
    flex-grow: 1;
    background-color: #f8f9fa;
    overflow-y: auto;
    
}
.navbar {
    background-color: #6c757d;
    margin-left: 250px;
}
.contact-list-main-section{
    
    height: 100vh;
    
}

.btn-add-new-contact-section{
    position: fixed;
    align-content: center;     
    width:400px;
    height:100px;
}
.contact-list-persons-container{
    margin-top: 100px;    
    width:400px;
    height:  100vh;
    overflow-y: auto;
}
.btn-add-new-contact{    
    background-color: #2A3647;
    color: white;
    border-radius: 8px;
    font-weight:700;
    font-size: 21px;
    width: 352px;
    height: 56px; 
     
}
.btn-add-new-contact:hover{
    background-color: #29ABE2;
    box-shadow: 0 3px 3px -3px rgba(0,0,0,0.20), 0 10px 20px -5px rgba(0,0,0,0.30);
    color: white;
    cursor: pointer;
}
.alphabet-contact-list{
    display: flex;     
    align-items: center;
    width: 352px;
    height: 58px;
    margin-top:8px;
    margin-bottom:8px;    
    font-size:20px;
    font-weight: 400;
    padding-left:36px;
}
.line-contact-list{
    width: 352px;
    height: 1px;
    background-color: #D1D1D1;
}
.contact-details{
    display: flex;
}
.contact-details-section {
    width: 352px;
    height: 78px;
    margin-left: 2px;
    margin-top: 10px;
    transition: background-color 0.3s; /* Optional: for a smooth transition */
}
.contact-details-section:hover {
    cursor: pointer;    
}
.contact-details-section.active {
    background-color: #2A3647;
    border-radius: 8px;
    color: white;
}
.contact-details-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 100px;
    width:42px;
    height: 42px;
    margin-left: 24px;
    margin-right: 24px;
}
.contact-details-name{
    font-size: 20px;
    font-weight: 400px;    
}
.contact-details-email{
    color:#007CEE;
}


