
iframe {
    width: 100%;
    height: 100vh;
    border: none;
}
body{
    font-family: 'Inter', sans-serif;
}

/* mobile */

.menu-mobile-display-container {
    display: flex;
    justify-content: space-between; 
    background-color: #2A3647;
    width: 100%;
    height: 80px;      
    position: fixed;
    bottom: 0px;    
    z-index: 1080;
    color: #f8f9fa;
    display: none;
}

.menu-mobile-display-item {
   
    flex: 1;
    margin-top: 16px;
}

.menu-mobile-display-item a {
    flex-direction: column;
    text-decoration: none;
    color: #f8f9fa;
    display: flex;
    align-content: center;
    align-items: center;
}

.menu-mobile-display-item a img {
   
    margin-bottom: 4px; /* Optional: to add some space between the image and text */
    width: 30px;
    height: 30px;
}

.menu-mobile-display-item a span {
    display: block;
    margin-top: 2px; /* Optional: to add some space between the image and text */
}

@media (max-width: 1030px) {
    .menu-item span{
      display: none;    
    }
    .contact-name-large {
      font-size: 18px;    
  }
    .sidebar {    
      width: 120px;    
    }
    .menu-item {   
      width: calc(100% -40px);    
      padding-left: 40px;
    }
    .footer-container {     
      padding-left: 10px;
  }
    .footer-container a:hover{    
      font-size: 16px;
      color:#29ABE2;    
    }
    .logo-container {
      width: 50px;
      height: 100px;    
      margin-left: 20px;
  }
  .logo-container img{
    width: 80px;
    height:100px;    
   
  }
  
  /* .container-main {    
      padding-left: 100px;    
  } */
  }

 
  @media (max-width: 902px) {
    .sidebar {    
      display: none;   
    }
    .container-main {    
      padding-left: 0px;    
    }
    .menu-mobile-display-container {   
     display: flex;
  }
  .logo-small {
    display: block;
  }
  .header-left-content {
    justify-content: start;
    padding-left: 40px;
  }
  }
  