.taskDetails {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.taskDetailsHeader {
    display: flex;
    justify-content: space-between;
}

/* .taskLine {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    width: 100%;
    max-width: 311px;
    min-width: 180px;
}

.section {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    padding: 16px;
    gap: 18px;
    width: 100%;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.section:hover {
    cursor: pointer;
}

.taskCategorySmall {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 4px 16px 4px 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    border-radius: 8px;
    width: max-content;
    text-wrap: nowrap;
    max-width: calc(100% - 3px);
}

.taskCategoryBig {
    margin: 0;
    padding: 8px 28px 8px 28px;
    font-size: 18px;
    font-weight: 400;
    line-height: 19.2px;
    border-radius: 8px;
    width: max-content;
}

.section p {
    margin: 0;

}

.section article {
    display: flex;
    flex-direction: column;
    gap: 8px;
} */

/* .taskTitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    word-wrap: break-word;
} */

/* .taskDescription {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #A8A8A8;
    word-wrap: break-word;
} */

/* .subtaskContain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
} */

/* .progressbarContainer {
    width: 128px;
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 16px;
}

.subtaskTxt {
    font-size: 12px;
    line-height: 14.4px;
    text-wrap: nowrap;
    padding-left: 10px;
}

.profilePropertyContain {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profilePropertyContain svg {
    width: 22px;
    height: 22px;
}

.profileBadge {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 2px solid #F6F7F8;
    padding: 6px;
    color: white;
    margin-left: -10px;
    height: 40px;
    width: 40px;
    font-size: 15px;
}

.profileBadgeToMuch {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #2A3647;
    border: 2px solid #ffffff;
    padding: 6px;
    color: white;
    margin-left: -10px;
    margin-bottom: 4px;
    margin-top: -10px;
    height: 30px;
    width: 30px;
}

.profileBadgeContain {
    display: flex;
    width: 100%;
    overflow: hidden;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: -10px;
}

.profileBadgeContain .profileBadge:first-child {
    padding: 8px;
}

.emptyTaskLine {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E7E7;
    border: 1px dashed #A8A8A8;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    width: 100%;
    margin: 0;
    font-size: 16px;
    color: #A8A8A8;
    height: 54px;
    text-wrap: nowrap;
}

.scrollbar {
    height: 570px;
    overflow-y: scroll;
    padding: 12px 12px 0 0;
    margin: -1px 0px 0 0;
    width: 100%;
    max-width: 1380px;
    min-width: 860px;
}

.loadingSpinnerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
} */

.taskDetailsContain {
    z-index: 1100;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
}

.taskDetails {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #FFFFFF;
    padding: 40px 30px;
    border-radius: 30px;
    gap: 20px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    max-height: 90%;
}

/* .taskEdit {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #FFFFFF;
    padding: 40px 30px;
    border-radius: 30px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    max-height: 80%;
    gap: 5px;
} */

.taskTitleDetails {
    font-size: 44px;
    font-weight: 700;
    line-height: 50px;
    word-wrap: break-word;
    max-height: 130px;
}

/* .taskTitleDetails::-webkit-scrollbar {
    display: none;
} */

.taskDescriptionDetails {
    color: black;
    font-size: 20px;
    line-height: 19.2px;
    margin-top: 16px;
    max-height: 120px;
    word-wrap: break-word;
}
/* 
.taskDescriptionDetails::-webkit-scrollbar {
    display: none;
}

.assignedBadge {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 6px;
    color: white;
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
    font-size: 17px;
} */
/* 
.titleTxtDetailsContain {
    display: flex;
    gap: 25px;
    align-items: center;
    font-size: 20px;
}

.priorityTxtDetails {
    display: flex;
    align-items: center;
    gap: 5px;
}

.titleDetails {
    color: #727272;
    font-size: 20px;
}

.dateTxtDetails {
    color: #000000;
} */

/* .assignedContain {
    display: flex;
    flex-wrap: wrap;
    max-height: 100px;
    margin-left: 10px;
} */

/* .assignedContain.overflow {
    overflow-y: scroll;
    min-height: 91px;
}

.assignedContain::-webkit-scrollbar {
    display: none;
} */

/* .assignedProfil {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 19px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.assignedName {
    white-space: nowrap;
    overflow: hidden;
    width: 146px;
    position: relative;
} */

/* .assignedNameText {
    display: inline-block;
    position: relative;
    transition: transform 2s;
} */

.deleteDetailsContain:hover,
.editDetailsContain:hover {
    cursor: pointer;
    filter: invert(70%) sepia(74%) saturate(3560%) hue-rotate(165deg) brightness(95%) contrast(85%);
    font-weight: 700;
}

.editOptionsDetailsContain,
.editDetailsContain,
.deleteDetailsContain {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.seperator {
    border-left: 1px solid #D1D1D1;
    height: 24px;
    margin-left: 5px;
    margin-right: 6px;
}

/* .confirmationPopup {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    padding: 20px 36px 20px 36px;
    border-radius: 30px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    z-index: 9999;
    max-width: 600px;
} */

/* .modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9998;
}

.confirmationContent p {
    margin: 0 0 30px 0;
}

.confirmationPopupBtnContain {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.confirmationContent button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px 16px 8px 16px;
    width: 120px;
    height: max-content;
    border-radius: 8px;
    border-color: transparent;
    background-color: #2A3647;
    color: white;
    font-weight: 700;
    font-size: 16px;
    text-wrap: nowrap;
} */

/* .confirmationContent button:hover {
    background-color: #29ABE2;
    transition: 100ms ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.draggableContain {
    position: absolute;
    width: 100%;
    height: 200px;
    border: 2px dashed rgba(42, 54, 71, 0.6);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    pointer-events: none;
    top: 0;
}

.flashingAnimation {
    margin-top: 10px;
    border-radius: 24px;
    animation: flashing 0.4s infinite alternate;
}

.titleAndAssignedContactsNumber {
    display: flex;
    justify-content: space-between;
}

.subtaskContainDetails {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    width: max-content;
    border-radius: 8px;
    padding: 4px 20px 4px 20px;
    font-size: 16px;
    word-wrap: wrap;
    width: 100%;
}

.subtaskContainDetails img {
    margin-bottom: 2px;
    border-radius: 100%;
}

.lineThrough {
    color: #333;
    text-decoration: line-through;
}

.allSubtasksContainDetails {
    max-height: 120px;
    overflow-y: scroll;
}

.allSubtasksContainDetails::-webkit-scrollbar {
    display: none;
}

.noSubtasksContain {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: #333;
}

.noSubtasksContain p {
    margin: 0;
}

.popup-addtask-container {
    z-index: 9999;
    background-color: #FFFFFF;
    padding: 40px 30px;
    border-radius: 30px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.10);
    height: 80%;
}

.clear-create-button-popup {
    display: flex;
    min-height: 58px;
}

.task-input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    display: flex;
}

.task-below-popup {
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clear-button-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    min-width: 127px;
    font-size: 20px;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    padding: 10px 16px 10px 16px;
}

.clear-button-popup:hover {
    border: 2px solid #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #29ABE2;
}

.clear-button-popup:hover img {
    filter: invert(70%) sepia(74%) saturate(3560%) hue-rotate(165deg) brightness(95%) contrast(85%);
}

.popup_ctn_addtask {
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .task-headline {
    display: flex;
    justify-content: space-between;
    align-items: start;
} */

/* .delete-image:hover {
    cursor: pointer;
    filter: invert(70%) sepia(74%) saturate(3560%) hue-rotate(165deg) brightness(95%) contrast(85%);
}

.edit-image:hover {
    cursor: pointer;
    filter: invert(70%) sepia(74%) saturate(3560%) hue-rotate(165deg) brightness(95%) contrast(85%);
}

.subtask-content-popup {
    width: 100%;
    max-height: 103px;
    overflow: scroll;
}

.creator-tooltip {
    position: absolute;
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 5px;
    top: 45px;
    left: 185px;
} */


