
/*************************************************************** Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.modal-content {
    position: relative;
}
.close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 34px;
    cursor: pointer;
}
/***************************************************************** Overlay styling */
.overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
/***************************************************************** overwrite in Add Task css file for popup */
.container-main{
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    border-radius: 20px;
}
.title  {
    padding-top: 16px;
}
.right-side {
    margin-top: 120px;
}
.divider {
    margin-top: 120px;
}
.left-right-container {
    height: 60vh;
}
.footer-add-task {
    position: fixed;
    bottom:0px;
    margin-bottom: 20px;
    width: 80%;
 
}
.right-side {
    margin-top:70px;
}
.footer-add-task {
    position: fixed;
    bottom:0px;
    margin-bottom: 30px;
}
.left-right-container {
    height: 70vh;
}
.title {
    font-size: 41px;
}
.divider {
  
    height: 400px;   
    margin-top: 90px;
}

 @media (max-width: 1540px) {
    .priority-btn {
        font-size: 16px;
    }
} 
@media (max-width: 1373px) {
    .right-side {
        margin-top: 10px;
    }
    .footer-add-task {
        position: fixed;
        bottom:0px;
        margin-bottom: 30px;
     
    }
    .left-right-container {
        height: 70vh;
    }
}
@media (max-width: 818px) {
    .clear-btn {
       display: none;
    }
    .title {
        font-size: 41px;
    }
}
@media (max-width: 660px) {
   
    .footer-add-task {
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100% - 40px);
    }
    .modal{
        width: 90%;
        height: 90%;
    }
}
@media (max-width: 510px) {
    .footer-add-task-left span {
       display: none;
    }
    .footer-add-task {
        justify-content: center;
    }
    .dropdown-btn {
        font-size: 16px;
    }
    textarea {
        font-size: 16px;
    }
    input.input-style {
        font-size: 16px;
    }
    .dropdownCategory {
        font-size: 16px;
    }
    }






