body {
    position: relative;       
    box-sizing: border-box;        
    height: 100vh;
    overflow: hidden;
    background-color: #f6f7f8;
    margin:0px; 
    font-family: "Inter", sans-serif;
  }
.container-main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgba(246, 247, 248, 1);
    height: calc(100% - 96px);
    width: calc(100% - 232px);
    /* padding-top: 96px; */
    padding-left: 232px;
}
/******************************************************* title input style */
.title{
    font-size: 61px;
    font-weight: 700;   
    padding-top:10px;
    padding-bottom: 32px;
}
.title input:focus {   
    border-color:#29ABE2;
    outline: none; /* Remove default outline */
}
input[type="text"] {
    border-color: #ccc;
    outline: none; 
}

input[type="text"].invalid {
    border-color: #FF0000;
}
.error-validation-title{
    color:#FF8190;
    margin-bottom: 10px;
}
/*********************************************************** container */
.left-right-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}
.left-side{
    width: 49%;
    display: flex;
    flex-direction: column;
    padding-top:18px;
    padding-left: 96px;
    padding-right: 48px;
}
.divider{
    width: 1px;
    height:524px;
    background-color: #D1D1D1;
    margin-top:85px;
}
.right-side{
    width: 49%;
    display: flex;
    flex-direction: column;
    padding-top:48px;
    padding-left: 48px;
    padding-right: 135px;
    margin-top: 85px;    
}
label{
    font-size: 20px;
    margin-bottom: 8px; 
}
.required {
    color:#FF8190;
}

.error-validation-date{
    color:#FF8190;
    margin-bottom: 10px;
    
}

input.input-style {
    font-size: 20px;
    color: #000000;
    border: 1px solid #D1D1D1;
    padding: 10px;
    height: 48px;
    border-radius: 10px;
    margin-bottom: 5px;
}
textarea{
    color: #000000;
    border-radius: 10px;
    height: 120px;
    min-height: 88px;
    font-size: 20px;
    padding: 10px; 
    font-family: "Inter", sans-serif;
    margin-bottom: 32px;
}
select{
    height: 48px;
    border-radius: 10px;
    padding: 10px; 
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

/************************************************************************* avatar-placeholder */
.avatar-placeholder {
    background-color: orange;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    margin-left: 24px;
  }
  
.avatar-overlay {
    font-size: 12px;
    font-weight: 400;
    color: white;
}

.avatar-overlay-display {
    font-size: 47px;
    font-weight: 500;
    color: white;
}
/*************************************************************************start priority-buttons */
.priority-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 32px;
    
}
.priority-btn {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 400;
    height: 56px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
    
}
.priority-btn:hover {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.change-svg-color {
    filter: brightness(0) invert(1); 
 }

.priority-btn img{
   padding-left: 8px;
}
.urgent-pri-active {
    background-color: #FF3D00;
    color: white;
    font-weight: 700;
}
.medium-prio-active {
    background-color: #FFA800;
    color: white;
    font-weight: 700;
}
.low-prio-active {
    background-color: #7AE229; 
    color: white;
    font-weight: 700;
}
/*************************************************************************Ende priority-buttons */
.input-container {
    position: relative;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 12px;
}
/* input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 21px;
    border: 1px solid #ccc;
    background-position: calc(100% - 12px) center; 
    background-repeat: no-repeat;
    background-size: 20px; 
    border-radius: 8px;
    color: #000000;
    font-family: "Inter", sans-serif;
} */
.date-style{
    color: #a8a8a8;
}

input[type="date"] {
    border-color: #ccc;
    outline: none; 
    font-family: "Inter", sans-serif;
}

input[type="date"]:focus {
    border-color: #007BFF; 
}

input[type="date"].invalid {
    border-color: #FF0000;
}
textarea:focus{
    border-color: #007BFF;
    outline: none; /* Remove default outline */
}
.icon-name {
    background-image: url("../assets/icons/addicon.svg");
}

/********************************************************************* dropdown-category */
.dropdownCategory{
    margin-bottom: 32px;
}

.dropdown-category {
    position: relative;
    display: inline-block;
    width: 100%;
}
.dropdownCategory {
    width: 100%;
    padding-right: 40px;
    font-size: 20px;
    appearance: none;
    -webkit-appearance: none; /* Remove default arrow in Safari */
    -moz-appearance: none; /* Remove default arrow in Firefox */
    background-color: #fff;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    height: 48px;    
    cursor: pointer;
}
.custom-dropdown-icon {
    position: absolute;
    right: 20px;
    top: 25%;    
    width: 10px;
    height: 10px;
    pointer-events: none; /* Prevent icon from interfering with select dropdown */
}
select.dropdownCategory:focus {
    border-color: #007BFF; 
}

select.dropdownCategory.invalid {
    border-color: #FF0000; 
}
.error-validation-category{
    color:#FF8190;
    margin-bottom: 10px;
}

/****************************************************************** Subtask Style */
.subtask-form{
    border-radius: 25px;
    position: relative;
}
.subtask-form input{   
    display: block;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 21px;
    padding: 10px;    
    box-shadow: #7AE229;
    color: #000000;
}
.subtask-form input:focus {   
    border-color:#29ABE2;
    outline: none; /* Remove default outline */
    border: solid 1px;
    
}
.subtask-form button{
    position: absolute;
    top: 10px;
    right: 10px;    
    height: calc(70%);    
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
}
.subtask-btn{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
    margin-top: 0px;
}
.subtask-btn img{
    width:14px;
    height: 14px;
    padding: 5px;
    cursor: pointer;     
 }
 .subtask-btn-cancel img{
    width:14px;
    height: 14px;
 }
.subtask-btn img:hover{
    background-color: #EEEEEE;
    border-radius: 50px; 
}
.subtask-btn-divider{
    width: 1px;
    height: 40px;
    background-color: #EEEEEE;
}
/****************************************************************** Subtask list Style */
.subtask-list-container {
    height: 10vh;
    overflow: auto;
}

/* Scrollbar styles */
.subtask-list-container::-webkit-scrollbar {
    width: 8px;  /* Width of the entire scrollbar */
}

.subtask-list-container::-webkit-scrollbar-track {
    background: #f1f1f1;  /* Color of the track (scrollbar background) */
    border-radius: 10px;  /* Rounded corners for the track */
}

.subtask-list-container::-webkit-scrollbar-thumb {
    background-color: #888;  /* Color of the scrollbar thumb */
    border-radius: 10px;  /* Rounded corners for the thumb */
    border: 2px solid #f1f1f1;  /* Optional border around the thumb */
}

.subtask-list-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;  /* Darker color when hovering over the thumb */
}

.subtask-list-container ul {
    padding-left:30px;
}
.subtask-list-container ul li {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    margin-bottom: 30px;
    height: 38px;
    display: flex;
    align-items: center;
}
.subtask-list-container ul li:hover {
    background-color: #EEEEEE;
    border-radius: 8px;
 }
 .toggle-display {
     display: none; 
 }
 .subtask-list:hover .toggle-display {
    display: block;
}
 .subtask-list-right:hover .toggle-display {
     display: inline-block; 
 }
 .subtask-list-container ul li:hover .toggle-display {
    display: inline-block;
}
.subtask-list-container ul li::before {
    content: "\2022"; /* Unicode for bullet point */
    position: absolute;
    left: 0;
    font-size:16px;
    line-height: 1em;
    color: black;
}
.subtask-list-container ul li:last-child::before {
    list-style-type: circle;

}
.subtask-list{
    display: flex;
    justify-content: space-between;
}
.subtask-list-divider {  
    width: 1px;
    height: 20px;
    background-color: #ccc;
    margin: 0 10px;
}
.subtask-list-right{
    display: flex;
    align-items: center;
    gap: 1px;
    padding-right: 20px;
}
/****************************************************************** Subtask list Style in edite style */

.subtask-list-form{
    border-radius: 25px;
    position: relative;
}

.subtask-list-form input{   
    display: block;
    height: 32px;
    border: none;
    border-bottom: 2px solid #29ABE2;
    border-radius: 8px;
    font-size: 21px;
    padding: 10px;    
    margin-top: 20px;
    box-shadow: #7AE229;
    color: #000000;
    width:calc(100% - 10px);
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.2);
    
    
}
.subtask-list-form input:focus {   
    border-color:#29ABE2;
    outline: none; /* Remove default outline */
}
.subtask-list-form button{
    position: absolute;
    top: 0;
    right: 10px;    
    height: calc(100%);    
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
}
.subtask-btn-list{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.subtask-btn-list img{
    width:14px;
    height: 14px;
    padding: 5px;
    cursor: pointer;     
 }
 /* .subtask-btn-list-delete  img:hover{
    background-color: #EEEEEE;
    border-radius: 50px; 
} */
.subtask-btn-list-delete  img{
    width:16px;
    height: 16px;
    padding: 5px;
    cursor: pointer; 
}
/* .subtask-btn-list img:hover{
    background-color: #EEEEEE;
    border-radius: 50px;
    border: 1px; 
} */
.subtask-btn-list-divider{
    width: 1px;
    height: 40px;
    background-color: #EEEEEE;
}


/************************************************************** footer */

.footer-add-task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:137px;
    padding-right: 137px;
    margin-bottom: 80px;
    margin-top: 10px;
}
.clear-btn{
    width: 110px;
    height: 56px;
    background-color: #ffffff;
    color: #2A3647;
    font-size: 21px;
    font-weight: 700;
    border-radius: 16px;
    cursor: pointer;
}
.clear-btn:hover{
    cursor: pointer;
}
.create-task-btn{
    width: 183px;
    height: 56px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    border-radius: 16px;
    cursor: pointer;
}
.create-task-btn{
    cursor: pointer;
}
.footer-add-task-left{
    display: flex;
    align-items: center;
}
/* //////////////////////////////////////////////////popup Add Task successfully */
.popup-successfully {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(131, 131, 131, 0.7);
    z-index: 2000;
    align-items: center;
    justify-content: center;
  }
  
  .popup-successfully-content {
    background-color: #2a3647;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
/******************************************************************* Dropdown wit multiple select */

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-btn {
    background-color: #ffffff;
    color: black;
    padding: 10px;    
    font-size: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 100%;
    height: 48px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}
.dropdown-btn:hover {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
}
.dropdown-btn img:hover{
    background-color: #EEEEEE;
    border-radius: 50px;
    
}
.dropdown-btn img{
   width:10px;
   height: 10px;
   padding: 5px; 
   
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 100%;
    border: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    scrollbar-width: thin;
    scrollbar-color: #ccc #f9f9f9;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content::-webkit-scrollbar {
    width: 8px;
}

.dropdown-content::-webkit-scrollbar-track {
    background: #f9f9f9;
}

.dropdown-content::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.dropdown-content label {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    width: 97%;
}

.dropdown-content label:hover {
    background-color: #f1f1f1;
}

.profile-icon {
    width: 44px; 
    height: 24px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    margin-right: 8px;
}

.dropdown-content span.name {
    flex-grow: 1;
}

.dropdown-content input[type="checkbox"] {
    margin-left: auto;
    margin-right: 8px;
    accent-color: #333;
    transform: scale(1.2);
}

.selected-badges {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.selected-badges .badge {
    /* background-color: #eee; */
    border-radius: 50%;
    /* width: 32px; */
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

/* ***********************************************************+5 in Dropdown Assigned to*/
.badge.extra-badge {
    /* background-color: #ccc; */
    color: #2A3647;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 18px;
}

/******************************************************************* Responsive */
@media (max-width: 1660px) {
    .left-side {
        width: 40%;
    }
    .right-side {
        width: 40%;
    }
}
@media (max-width: 1500px) {
    .left-side {
        width: 35%;
    }
    .right-side {
        width: 35%;
    }
}
@media (max-width: 1407px) {
    .priority-btn {
        
        font-size: 19px;
    }
    }
@media (max-width: 1373px) {
    .left-right-container {       
        flex-direction: column;
        align-items: center;
    }
    .left-side {
        width: 80%;
    }
    .right-side {
        width: 80%;
    }
    .container-main {
        overflow-y: auto;
    }
    .divider {
        display: none;
    }
    .right-side {        
        padding-right: 0px;
    }
    .right-side {
        margin-top: 10px;
        
    }
    .title {
        padding-top: 0px;
    }
    .footer-add-task {
        padding-left: 107px;
        padding-right: 65px;
        width: calc(100% - 182px);
    }
}
@media (max-width: 1030px) {
    .container-main {        
        padding-left: 70px;
        width: calc(100% - 70px);
    }    
}
 
@media (max-width: 902px) {
    .container-main {
        padding-left: 0px;
        width: 100%;
        height: calc(100vh - 176px);
        overflow-x: hidden;
    }
    .left-side {
        padding-left: 10px;
        padding-right: 10px;
    }
    .right-side {
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer-add-task {
        margin-bottom: 60px;      
        padding-left: 90px;
        padding-right: 45px;
    }
}
@media (max-width: 855px) {
    .left-side {        
        padding-left: 0px;
        padding-right: 0px;
    }
    .right-side {        
        padding-left: 0px;        
        padding-right: 0px;
    }     
}
@media (max-width: 700px) {
    .clear-btn {
       display: none;
    }
    .footer-add-task {
        margin-bottom: 40px;      
        padding-left: 70px;
        padding-right: 70px;
        width: calc(100% - 140px);
    }
    .footer-add-task-left span{
        font-weight: 600;
    }
}
@media (max-width:525px) {
    .footer-add-task {
        padding-left: 50px;
        padding-right: 50px;
        width: calc(100% - 100px);
    }
}
@media (max-width:517px) {
    .priority-btn {
        flex-direction: column;
        display: flex;
        align-items: center;
        gap: 6px;
    }
}
@media (max-width:490px) {
    .title {
        font-size: 41px;
    }
    .footer-add-task-left span{
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .footer-add-task {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
        /* margin-bottom: 80px;
        width: calc(100%); */
    }
    .footer-add-task-left {
        flex-direction: row;
        justify-content: center;
    }
    .footer-add-task-right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 10px;    
    }
}
@media (max-width: 490px) {
    .footer-add-task-left span {
        font-weight: 400;
    }
    .footer-add-task {
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100% - 40px);
        flex-direction: row;
        margin-bottom: 60px;
        width: 90%;
        gap: 10px;
    }
    .create-task-btn {
        width: 183px; 
        width: 153px;
        font-size: 16px;
    }
}

@media (max-width:377px) {
    .footer-add-task {
        flex-direction: column;        
    }
}
@media (max-width: 375px) {
    .container-main {
        height: calc(100vh - 156px);
      
    }
}
@media (max-width:350px) {
    .dropdown-btn {        
        font-size: 16px;        
    }
    input.input-style {
        font-size: 16px;       
    }
    textarea{        
        font-size: 16px;       
    }
    .dropdownCategory {      
        font-size: 16px;
        
}
    label {
        font-size: 18px;  
    }
}
